autocommand==2.2.2
backports.tarfile==1.2.0
bert-score==0.3.13
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
filelock==3.20.3
fonttools==4.61.1
fsspec==2026.1.0
huggingface-hub==0.36.0
idna==3.11
importlib-metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
modules==1.0.0
more-itertools==10.3.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.6
packaging==25.0
pandas==2.3.3
pillow==12.1.0
pip ==25.3
platformdirs==4.2.2
pyparsing==3.3.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
safetensors==0.7.0
setuptools==79.0.1
six==1.17.0
sympy==1.13.1
timm==1.0.24
tokenizers==0.22.2
tomli==2.0.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
transformers==4.57.3
typeguard==4.3.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
